html, body, #main {
  height: 100%;
}

.content-width {
  @include outer-container();
  @include media(max-width $large-bp) {
    margin: 0 $body-margin;
  }
}

/* Site Elements */

button {
  background-color: $secondary-color;
  color: $primary-accent;
  margin: 0.1em 0;
  &:hover {
    background-color: darken($secondary-color, 5);
  }

}

#hero-bar {
  width: 100%;
  background-color: $primary-color;
  color: $primary-accent;
  text-align: center;
}

.body-text {
  margin-top: 2em;
  margin-bottom: 2em;
  p {
    text-align: center;
  }
}

.frame-bar {
  width: 100%;
  height: 1em;
  background-color: lighten($primary-color, 25);
  @include media(max-width $small-bp) {
    height: 0.5em;
  }

}

footer {
  margin-bottom: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* Home */

.home-body {
  .home-nav {
    @include row();

    @include media(min-width $large-bp) {
      @include shift(2.4); //WHY!!!?? Some reason it wasn't centering right
    }

    button {
      @include span-columns(3);
      @include media(max-width $large-bp) {
        @include span-columns(4);
      }
      @include media(max-width $medium-bp) {
        @include span-columns(12);
      }
    }
  }
}

/* Card */
#hero-bar {
  #card-letter {
    font-size: modular-scale(10);
    padding: modular-scale(-12);
    @include media(max-width $medium-bp) {
      font-size: modular-scale(-2, modular-scale(10));
    }
  }
  h5 {
    text-align: right;
  }
}

#card-nav {
  button {
    $button-margin: $body-margin * 0.6;
    $button-size: 100px;
    $go-button-color: #468c46;
    width: $button-size;
    height: $button-size;
    position: absolute;
    h3 {
      padding: 0;
    }
    &#submit-feedback {
      bottom: calc(#{$button-margin} * 2);
      left: $button-margin;
    }
    &#start-timer {
      background-color: $go-button-color;
      bottom: calc(#{$button-size} + (#{$button-margin} * 3));
      right: $button-margin;
    }
    &#next-question {
      bottom: calc(#{$button-margin} * 2);
      right: $button-margin;
    }
    &#next-card {
      bottom: calc(#{$button-margin} * 2);
      right: calc(#{$button-size} + (#{$button-margin} * 2));
    }
    @include media(max-width $small-bp) {
      $button-margin: $body-margin/3;
      $button-size: 75px;
      height: $button-size;
      width: $button-size;
      &#update-card {
        bottom: calc(#{$button-margin} * 2);
        left: $button-margin;
      }
      &#start-timer {

        bottom: calc(#{$button-size} + (#{$button-margin} * 3));
        right: $button-margin;
      }
      &#next-question {
        bottom: calc(#{$button-margin} * 2);
        right: $button-margin;
      }
      &#next-card {
        bottom: calc(#{$button-margin} * 2);
        right: calc(#{$button-size} + (#{$button-margin} * 2));
      }
    }
  }
}

button.arrow {
  display: block;
  font-size: 1.2em;
  padding: 0 0.5em;
  margin: 0.1em auto;
  background: none;
  color: $primary-color;
}

.card-body {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#questions {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: calc(80% - (300px + 3em));
  max-width: 500px;
  min-width: 250px;
  @include media(max-width $small-bp) {

  }
  p {
    text-align: left;
  }
}

.question {
  display: none;
}

.previous.question, .current.question, .next.question {
  display: inherit;
}

.previous.question p, .next.question p {
  color: lighten($medium-gray, 11);
  font-size: smaller;
  &:first-of-type {
    margin-bottom: 0.3em;
  }
  @include media(max-height 700px max-width 600px) {
    display: none;
  }
;
  @include media(max-height 650px) {
    display: none;
  }
;
}

.current.question {
  margin-top: 1em;
  margin-bottom: 1em;
}

