<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woodles</title>
    <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
<div id="main">
    <div class="frame-bar"></div>
    <section id="hero-bar"><h1>Woodles</h1></section>
    <section class="home-body">
        <div class="body-text">
            <p>
                Welcome to Woodles, the game the you can't something or other!
            </p>
            <p>
                Click below to get started
            </p>
        </div>
        <nav class="home-nav">
            <button>Play Now</button>
            <button>Instructions</button>
            <button>Random Game</button>
        </nav>
    </section>
    <footer class="frame-bar"></footer>
</div>
<script src="../static/js/app.js"></script>
</body>
</html>