<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woodles</title>
    <link rel="stylesheet" href="../app/static/css/app.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>-->
    <script src="../app/static/js/jquery.js"></script>
</head>
<body>
<div id="main">
    <div class="frame-bar"></div>
    <section id="hero-bar"><h1 id="card-letter">B</h1></section>
    <section id="body" class="content-width card-body" data-card-id="0000000C">
        <button class="arrow" id="previous-question-arrow">▲</button>
        <div id="questions">
            <div class="question intro" id="0000000S">
                <p>Why did the chicken cross the road?</p>
                <p>Pizza Tacos</p>
            </div>
            <div class="question one" id="0000001Q">
                <p>Why did the chicken cross the toad?</p>
                <p>Pizza Tacos</p>
            </div>
            <div class="question two" id="0000002Q">
                <p>Why did the chicken cross the load?</p>
                <p>Pizza Tacos</p>
            </div>
            <div class="question three" id="0000003Q">
                <p>Why did the chicken cross the woad?</p><p>Pizza Tacos</p>
            </div>
            <div class="question four" id="0000004Q">
                <p>Why did the chicken cross the node?</p><p>Pizza Tacos</p>
            </div>
            <div class="question five" id="0000005Q">
                <p>Why did the chicken cross the zode?</p><p>Pizza Tacos</p>
            </div>
            <div class="question six" id="0000006Q">
                <p>Why did the chicken cross the bode?</p><p>Pizza Tacos</p>
            </div>
        </div>
        <button class="arrow" id="next-question-arrow">▼</button>
    </section>

    <footer>
        <nav id="card-nav" class="content-width">
            <button id="next-question"><h3>➤</h3></button>
            <button id="start-timer"><h3>↺</h3></button>
        </nav>
        <div class="frame-bar"></div>
    </footer>
</div>
<script src="../app/static/js/app.js"></script>
</body>
</html>