{% extends "layout.html" %}
{% block content %}
    <section id="hero-bar"><h1>Woodles</h1></section>
    <section id="body" class="content-width home-body">
        <div class="body-text">
            <p>
                Welcome to Woodles, the game the you can't something or other!
            </p>
            <p>
                Click below to get started
            </p>
        </div>
        <nav class="home-nav">
            <button>Play Now</button>
            <button>Instructions</button>
            <button>Random Game</button>
        </nav>
    </section>
{% endblock %}